.ul_one {list-style: none;margin: 0px;padding: 0px;}  
.ul_one li {display:inline; margin: 0px 10px 10px 0px;}  
a{text-decoration:none;background-color: #fafafe;}
a:link{color:#009aff;}
a:visited{color:purple;}
a:hover{color:blue;}
a:active{color:red;}